#logo {
    width: 10%;
    height: 10%;
}
#about-logo {
    width: 50%;
    height: 50%;
}

#test {
    height: 500px;
}

.fab, .fas {
    color: black;
}

.work-page-img {
    width: 80%;
    height: 80%;
}

.color-red {
    background-color: #a10532;
}

.color-pink {
    background-color: #ff6fa9;
}

.color-tan {
    background-color: #ffd0cc;
}

.color-blue-light {
    background-color: #00b7cc;
}

.color-blue-dark {
    background-color: #005f81;
}

body {
    background-color:#00b7cc;
}

.readme {
    color: #005f81;
    /* height: 100vw;
    width: 100vw; */
    /*   */
    background-color: #ff6fa9;
    /* display: none; */
}

.close-button {
    
}