#logo {
    width: 10%;
    height: 10%;
}
#about-logo {
    width: 80%;
    height: 80%;
}

#test {
    height: 500px;
}

.fab, .fas {
    color: black;
}

.work-page-img {
    width: 80%;
    height: 93%;
}

.color-red {
    background-color: #a10532;
}

.color-pink {
    background-color: #ff6fa9;
}

.color-tan {
    background-color: #ffd0cc;
}

.color-blue-light {
    background-color: #00b7cc;
}

.color-blue-dark {
    background-color: #005f81;
}

body {
    background-color:#ffd0cc;
}

.readme {
    color: #005f81;
    /* height: 100vw;
    width: 100vw; */
    /*   */
    background-color: #ff6fa9;
    /* display: none; */
}

.close-button {
    
}

@media (min-width: 576px) {
    .container {
       max-width: 100%; 
    }
}

@media (min-width: 768px) {
    .container {
       max-width: 100%; 
    }
}

